<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Deployment</title>
    <link rel="stylesheet" href="{{url_for('static', filename='input.css')}}" />
  </head>
  <body>
    <div class="center">
      <h1>Predict Salary</h1>
      <form action="/predict" method="post">
        <div class="txt_field">
          <input type="text" id="age" name="age" />
          <span></span>
          <label for="age">👶🏻Your Age</label>
        </div>
        <div class="txt_field">
          <input type="text" required id="exp" name="exp" />
          <span></span>
          <label for="exp">⚒️Years of Experience</label>
        </div>
        <input type="submit" value="Predict" />
      </form>
    </div>
  </body>
</html>
